.App {
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

nav li {
  padding: 15px;
}

.listgenre {
  width: 30%;
  height: 30%;
  margin: 0 auto;
}

.listgenre ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.listgenre li {
  padding: 20px;
}


.bookInfo{
  margin: 0 auto;
  width: 80%
}
