.App {
  text-align: center;
}

.home {
  background: url('https://cdn.aarp.net/content/dam/aarp/money/budgeting_savings/2016/04/1140-yeager-sell-your-used-books.imgcache.rev6feda141288df73e8fd100822bb375ea.jpg') no-repeat;
  height: 1000px;;
  background-size: cover;
  opacity: 0.5;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

nav li {
  padding: 15px;
}

.listgenre {
  width: 30%;
  height: 30%;
  margin: 0 auto;
}

.listgenre ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.listgenre li {
  padding: 20px;
}


.bookInfo{
  margin: 0 auto;
  width: 80%
}

.comment-form{
  border: 1px solid black;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.comment-list {
  border: 1px solid black;
  width: 60%;
  margin: 0 auto;
}

/* .comment-list p {
  border: 1px solid black;
  height: 100px;
  padding-top: 20px;
} */
