@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Lato');


.App {
  text-align: center;
  min-width: 100vh;
  min-height: 100vh;
  background: center url('https://www.pixelstalk.net/wp-content/uploads/2016/06/Book-Desktop-Wallpapers-HD.jpg');

}

.home-title{
  font-family: 'Shrikhand', cursive;
  text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0.2em black;
  font-size: 15vh;
  color: white
}

.home-body{
  font-family: 'Shrikhand', cursive;
  text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0.2em black;
  font-size: 8vh;
  color: white
}

nav {
  background: white;
}

nav ul {
  border-bottom: 1px solid black;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

nav li {
  padding: 15px;
}

.genre-title {
  font-family: 'Shrikhand', cursive;
  font-size: 8vh;
  text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0.2em black;
  color: white;
  margin-bottom: -10px;
}

.listgenre {
  width: 80vh;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 2.5vh;
}

.listgenre ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: black;
  opacity: .5
}

.listgenre li {
  padding: 20px;
  font-weight: bold;
}

.listgenre a:visited {
  color: white;
}

.listgenre a:link {
  color: white;
}

.bookInfo{
  margin: 0 auto;
  width: 90vh;
  background: white;
  opacity: .7;
  height: 35vh;
}

.bookInFo-title{
  font-family: 'Shrikhand', cursive;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  color: white;
  font-size: 10vh;
  font-weight: bold;
}

.bookInfo-summary{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.comment-form{
  border: 1px solid black;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.comment-list {
  border: 1px solid black;
  width: 60%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.profile{
  width: 80vh;
  height: 70vh;
  /* background: black; */
  opacity: .8;
  margin: 0 auto;
}

.profile h1{
  font-family: 'Shrikhand', cursive;
  text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0.2em black;
  font-size: 10vh;
  color: white;
}

.login-container {
  margin-top: 150px;
}

.login-form{
  margin-bottom: 4vh;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin-top: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.login-form form input {
  margin-bottom: 1em;
}

.login-form form label {
  text-align: left;
  display: block;
  padding: 0.5em 1.5em 0.5em 0;
}

.login-form form input {
  width: 25vh;;
  padding: 0.7em;
  margin-bottom: 0.5em;
}

.login-form form input:focus{
  outline: 1px solid red;
}

.login-form form button {
  padding: 0.7em;
  border: 0;
  width: 100px
}

.login-form form button:hover{
  background: red
}

.login-form form a {
  font-size: 30px;
}

.book-title{
  font-family: 'Shrikhand', cursive;
  text-shadow: 1px 1px 2px red, 0 0 1em black, 0 0 0.2em black;
  color: white;
  font-size: 8vh;
}

.bookList ul{
  list-style: none;
}

.bookList a:visited{
  color: white
}

.reviews{
  background: white;
  width: 90vh;
  margin: 0 auto;
  opacity: .7
}

.review-title{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 2.5vh;
  padding-top: 20px;
}

/* .filtered-list{
  bottom: 10px;
  background:red
} */

.filtered-list a:visited{
  color:white
}


.genre-list{
}
